body {
    background-image: url('bg.jpg');
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #b18194;
    font-family: 'Rancho', cursive;
    font-size: 7em;
}

h2 {
    font-size: 20px;
    color: grey;
}

h3 {
    color: #b18194;
    font-family: 'Rancho', cursive;
    font-size: 3em;
    margin-bottom: 10px;
}

.about-me {
    background-color: rgba(255, 255, 255, 0.89);
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    font-style: italic;
}

b {
    color: black !important;
}

img.align-center {
    display: block;
    margin: 0px auto;
}

.technical {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
}

.Courses {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
}

.Extra-Activities {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
}

.contact {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
    position: align-self center;
    top: 0px;
    left: 600px;
    width: 600px;
    background-image: ('/../../pictures/proffesional.jpg');
}
.education {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
}

.work-experience {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
    font-style: oblique;
}

.projects {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    margin: 10px;
    border-radius: 40px;
}
