body {
    background-image: url('/home/basecamp/Pictures/pictures/proffesional.jpg');
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: firebrick;
    font-family: 'Patrick Hand', cursive;
    font-size: 7em;
}

h2 {
    font-size: 20px;
}

h3 {
    color: firebrick;
    font-family: 'Rancho', cursive;
    font-size: 2.3em;
    margin-bottom: 5px;
}

.about-me {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    font-style: italic;
}

b {
    color: black !important;
}
